<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bus Booking System</title>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
            padding-top: 50px;
            font-family: Arial, sans-serif;
        }
        .btn {
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to Bus Booking System</h1>
    <p>Please choose an option:</p>

    <a class="btn btn-primary" href="/login">Login</a>
    <a class="btn btn-success" href="/registration">Register</a>
</body>
</html>
